:root{
    --light-text:#dce0e4ce;
    --med-text:#eef1f5ec;
    --text:#f8f9fa;
    --transparent: rgba(0, 0, 0, 0.75);
    --darker:#0d1013;
    --dark:#12161a;
    --med:#1a2128;
    --contrast:#ffea00;
    --orange:#ffb62f;
    --light-orange:#f8b332e2;
}

*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin:0;
    padding:0;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.no-scroll-body::-webkit-scrollbar { 
    display: none;
}

html {
    scroll-behavior: smooth;
  }

#header-container{
    display: flex;
    align-items: center;

    justify-content: space-between;

    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 5000;

    width: 100%;
    height: 7vh;
}

#header-button-container{
    display: flex;
    align-items: stretch;
    flex-direction: row;
}

.header-buttons{
    width: 8vw;
    height: 7vh;
    text-align: center;
    color: var(--text);
    background-color: transparent;
    border: none;

    display: inline-block;
    position: relative;
    color:var(--text);
    font-size: 1.1vw;
}

.header-buttons::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--text);
    transform-origin: bottom center;
    transition: transform 0.25s linear;
}

.header-buttons:hover::after {
    transform: scaleX(1);
    transform-origin: bottom center;
}

.white{
    color: var(--text);
}

#screen-container{
    display:flex;
    flex-direction: row;
    height: 100vh;
}

.content-seperator{
    display: flex;
    flex-direction: column;
    justify-content:center;
    width: 50vw;
}

.dropdown{
    display: inline-block;
    position: relative;
    width: 8vw;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    /* overflow: auto; */
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
    
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    display: block;
    color: var(--text);
    background-color: var(--transparent);
    padding: 5px;
    text-decoration: none;

    /* text-align: center; */
    font-size: 1vw;

    height: 3vh;
}

.dropdown-content a:hover {
    color: #FFFFFF;
    background-color: #00A4BD;
}



/* Changes */
.green-text{
    font-size: 4vw;
    color: #76c400;

    transition: all 0.3s;

}

.learnmore-green-button{
    margin-top: 10px;
    padding: 7px 20px;
    font-size: 1.2vw;
    align-self: center;

    background-color: #76c400;
    color: var(--contrast);
    border-style:solid;
    border-color: #76c400;

    border-radius: 5px;

    transition: all 0.3s;
}

.learnmore-green-button:hover{
    background-color: transparent;
    color: #76c400;
}

#yellow-background:hover .green-text{
    
    color: #6db600;

    visibility: hidden;
    animation-name: scroll-text;
    animation-timing-function: ease-in-out;
    animation-duration: 5s;
    animation-iteration-count: infinite; 
}

#yellow-background{
    display:flex; 
    justify-content: center; 
    align-items: center; 
    background-color: #ffea00; 

    transition: all 0.3s;

}

/* #yellow-background:hover{
    background-color: #fff36ad9;
} */

#scroll-text{
    animation-name: scroll-text;
    animation-timing-function: ease-in-out;
    animation-duration: 10s;
    animation-iteration-count: infinite; 
}


@keyframes scroll-text{
    0% {
        transform: translateX(-1500px);
        visibility: visible;
    }
    50% {
        transform: translateX(0px);
        visibility: visible;
    }
    100% {
        transform: translateX(1500px);
        visibility: visible;
    }
}

@keyframes small-scroll-text{
    0% {
        transform: translateX(-750px);
        visibility: visible;
    }
    50% {
        transform: translateX(0px);
        visibility: visible;
    }

    100% {
        transform: translateX(750px);
        visibility: visible;
    }
}