/* Front Page */
body{
    display: flex;
    flex-direction: column;
    margin:0;
    border:0;  
    background-image: url("../Assets/background.jpg");
    background-position: center;
    background-size: 100%;
    background-attachment: fixed;
    animation-name: background-bs;
    animation-duration: 30s;
    animation-iteration-count: infinite; 
}

/* #cover{
    
} */

#front-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    
}

@keyframes background-bs{
    0% {background-size: 100%;}
    50% {background-size: 120%;}
    100% {background-size: 100%;}
}

#front-title-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}

#front-title-container>h1{
    font-size:5vw;
    color: var(--text);
    font-family: 'Trebuchet MS';
    text-decoration: underline;
    text-decoration-color: var(--contrast);
}

#front-title-container>h3{
    font-size:3vw;
    color: var(--text);
    font-family: 'Trebuchet MS';
}

#front-title-container>p{
    font-size:1vw;
    /* margin-top: 20px; */
    color: var(--light-text);
}

#front-title-container>button{
    margin-top: 20px;
}

#front-container>h5{
    font-size:1.2vw;
    color: var(--text);
    margin-bottom:20px;
    transition: font-size 1s;
    transform: rotate(90deg);
    animation-name: hover;
    animation-timing-function: linear;
    animation-duration:3s;
    animation-iteration-count: infinite;
}

#front-container>h5:hover{
    font-size:1.7vw;
}

@keyframes hover{
    0% {transform: translateY(0px) rotate(90deg);}
    25% {transform: translateY(5px) rotate(90deg);}
    50% {transform: translateY(0px) rotate(90deg);}
    75% {transform: translateY(-5px) rotate(90deg);}
    100% {transform: translateY(0px) rotate(90deg);}
}

#front-more-button{
    background-color: transparent;
    border: solid var(--text);
    border-width: 1px;
    color: var(--text);
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 10px;
    transition: border-width 0.1s;
}

#front-more-button:hover{
    background-color: var(--transparent);
    border-width: 2px;
}

.screen-container{
    display:flex;
    flex-direction: row;
    height: 100vh;
    background-color: black;

    background-image: url("../Assets/background-dark.jpg");
    background-position: center;
    background-size: 100%;
    background-attachment: fixed;
    animation-name: background-bs;
    animation-duration: 30s;
    animation-iteration-count: infinite;
}

.content-seperator{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    width: 50vw;
}

.content-seperator>h1{
    color: var(--text);
    font-size: 4vw;
    align-items: center;
    text-align: center;

    line-height: 95%;
}

.content-seperator>h3{
    color: var(--light-text);
    margin-top:-5px;
    font-size: 2.5vw;
}

.content-seperator>p{
    color: var(--contrast);
    padding: 10px 90px;
    font-size: 1.2vw;
    text-align: justify;

    
}

.learnmore-button{
    margin-top: 10px;
    padding: 7px 20px;
    font-size: 1.2vw;
    align-self: center;

    background-color: var(--contrast);
    color: #0c0c0c;
    border-style:solid;
    border-color: var(--contrast);

    transition: all 0.3s;
}

.learnmore-button:hover{
    background-color: transparent;
    color: var(--contrast);
}

.image{
    width:40vw; 
    /* border:4px solid var(--contrast);  */
    border-radius: 20px;
    /* transition: transform 1s; */
    animation-name: rotation;
    animation-duration: 50s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

/* .image:hover{
    transform: rotate(65deg);
} */

@keyframes rotation {
    0%{
        transform: scale(100%) rotate(45deg);
    }

    100%{
        transform: scale(100%) rotate(360deg);
    }
}

/* .wrapper {
} */